html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2;
}

#chart-area svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#logo {
  height: 50px;
}

.navbar-brand {
  height: 60px;
  padding: 5px 0px;
  color: white;
}

header {
  background-color: #507dbc;
}

#title {
  color: white;
}

.nav-btn {
  margin: 10px 10px 0 0;
}

.article-about {
  margin-top: 20px;
}

.img-headshot {
  width: 150px;
  height: auto;
  border: 2px #507dbc solid;
  margin-right: 10px;
}

#map {
  width: 550px;
  height: 400px;
}

.marker {
  /* background-color: red; */
}

h3.school-data {
  line-height: 10px;
}

.axis,
.legendText {
  font-size: 18px;
  font-weight: bold;
}
