#chart-area svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#logo {
  height: 50px;
}

.navbar-brand {
  height: 60px;
  padding: 5px 0px;
  color: white;
}

.navbar {
  background-color: #507dbc;
}

#title {
  color: white;
}

img {
  margin-left: 75px;
  margin-right: auto;
}

#map {
  width: 550px;
  height: 400px;
}

.marker {
  /* background-color: red; */
}

h3.school-data {
  line-height: 10px;
}

.axis,
.legendText {
  font-size: 18px;
  font-weight: bold;
}
